<main class="main">
<h1 class="titlePag">CADASTRAR LIVRO</h1>
<form action="/cadastrar" method="post">
<label>
    <p class="titleText">Título:</p>
    <input class="inputText " type="text" name="titulo" placeholder="Digite o nome do livro..">
</label>
<label>
    <p class="titleText">Categoria:</p>
    <input class="inputText " type="text" name="categoria" placeholder="Digite a categoria do livro..">
</label>
<label>
    <p class="titleText">Descrição:</p>
    <input class="inputText descI" type="text" name="descricao" placeholder="Digite a descrição do livro..">
</label>
<label for="" class="pd">
<label>
    <p class="titleText">Preço:</p>
    <input class="inputText " type="number" name="preco" placeholder="Ex:R$50.00">
</label>
<label>
    <p class="titleText">Disponibilidade:</p>
    <input class="inputText " type="number" name="disponibilidade" placeholder="Ex:60">
</label>

</label>
    <input type="submit" class="subbtn" value="Cadastrar">
</form>
</main>